//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 25 16:36:05 2016
//! **************************************************************************

SCHEMATIC START;
NET "ClK_BUFGP/IBUFG" BEL "ClK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

